// Colours
$blue: #006cfc;
$pink: #ff0374;
$yellow: #edff3b;
$red: #ff4949;
$green: #13ce66;
$cyan: #63defa;
$light-grey: #e8e8e8;
$mid-grey: #c2c2c2;
$black: #000a12;

$primary: $yellow;
$secondary: $pink;

// Fonts
$font-family-sans-serif: 'Lato', Arial, sans-serif;
$font-size-lg: 1.6rem;
$lead-font-size: 2.5rem;

// Common
$border-radius: 2.5rem;

// Buttons
$btn-padding-y: 0.9rem;
$btn-padding-x: 2.5rem;
$btn-font-size: 17px;
$btn-line-height: 1;
